<aside>
  <div class="sidebar">
    <div class="top">
      <div class="logo">
        <img src="assets/images/Egora_Main_Logo 2.png" alt="Egora image" />
      </div>
      <div>
        <img src="assets/images/radix-icons_hamburger-menu.png" alt="" />
      </div>
    </div>
    <button>
      <img src="assets/images/Vector (5).png" alt="" />
      <h3 routerLink="/body">Dashboards</h3>
    </button>
    <a href="#" style="text-decoration: none">
      <p>SET UP</p>
    </a>
    <button>
      <img src="assets/images/Vector (1).png" alt="" />
      <h3>Admin</h3>
    </button>

    <button>
      <img src="assets/images/Group.png" alt="" />
      <h3>Static Data</h3>
    </button>
    <a href="#" style="text-decoration: none;">
      <p>CONFIGURATION</p>
    </a>
    <button>
      <img src="assets/images/Group (1).png" alt="" />
      <h3>Product</h3>
    </button>
    <button>
      <img src="assets/images/Vector (2).png" alt="" />
      <h3>General Service</h3>
    </button>
    <button>
      <img src="assets/images/Vector (3).png" alt="" />
      <h3>Workflow</h3>
    </button>
    <a href="#" style="text-decoration: none">
      <p>PROCESS</p>
      <button class="active">
        <img src="assets/images/Vector (4).png" alt="" />
        <h3>Deals</h3>
      </button>
      <button>
        <img src="assets/images/Group 11336.png" alt="" />
        <h3>Market Risk</h3>
      </button>
      <button>
        <img src="assets/images/Group 15959.png" alt="" />
        <h3>Auxilliary Service</h3>
      </button>
      <button>
        <img src="assets/images/Group (2).png" alt="" />
        <h3>Retail Market</h3>
      </button>
      <button>
        <img src="assets/images/Group (3).png" alt="" />
        <h3>Messages</h3>
      </button>
      <button>
        <img src="assets/images/Group 15960.png" alt="" />
        <h3>Utilities</h3>
      </button>
    </a>

    <a href="#" style="text-decoration: none">
      <p>INSIGHT</p>
    </a>
    <button>
      <img src="assets/images/Group 12880.png" alt="" />
      <h3>Confirmation</h3>
    </button>
    <button>
      <img src="assets/images/Group 12878.png" alt="" />
      <h3>Report</h3>
    </button>
    <button>
      <img src="assets/images/Group (4).png" alt="" />
      <h3 routerLink="/analytics">Analytics</h3>
    </button>
    <img src="assets/images/Group 12913.png" alt="" />
  </div>
</aside>
<!-- <app-table></app-table> -->
