<div class="wrapper">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <img src="assets/images/XMLID_1_.png" alt=""> 
   <a class="navbar-brand" >DEMO BANK</a>
   <div class="search-wrapper">
     <span class="bx bx-search"></span>
     <input type="search" placeholder=""/>
   </div>
   <p>{{currentDate}}</p>
   <!-- <div class="nav-img"> -->
    <div>
      <img src="assets/images/Group 12915.png" alt="">         
    </div>
    <div >
      <img src="assets/images/Group 12773.png" alt="">
    </div>
    <div>
      <img src="assets/images/Group 408.png" alt="">
   </div>
   <!-- </div> -->
   <div class="pipe"></div>
  <div class="user-wrapper">
   <h6 class="info">G</h6>
   <h6>Seedey</h6>
  </div>
</nav>
<div class="blankbar"></div>
<div class="blankbar bar">
  <p class="ms-4">Deals | <span>Data manager Static Data</span></p>
</div>
</div>
