<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="d-none d-md-block col-md-8 col-lg-8 col-xl-8">
        <img class="back-img" src="assets/images/LoginLogo.png" alt="">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 card-wrapper">
        <h4 style="font-family: 'Poppins', sans-serif; font-weight: 600;">Sign Up</h4>
        <h6 style="font-family: 'Nunito Sans', sans-serif; font-weight: 400; font-size: 14px;">
          Please fill in your details to create an account
        </h6>
        <form>
            <div class="row">
                <div class="col mb-3 mt-4">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control form-control-line" id="firstName" name="firstName" required>
                </div>
                <div class="col mb-3 mt-4">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" class="form-control form-control-line" id="lastName" name="lastName" required>
                </div>
              </div>
              
          <div class="row">
            <div class="col mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control form-control-line" id="phone" name="phone" required>
              </div>
              <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control form-control-line" id="email" name="email" required>
              </div>
          </div>
          <div class="row">
            <div class="col mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-control-line" id="password" name="password" required>
              </div>
              <div class="col mb-3">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" id="role" name="role" required>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
          </div>
          <button type="submit" class="mt-4" style="width: 293px; background: #2D0C52; color: #fff; height: 46px; border: none; border-radius: 20px; font-family: 'Poppins', sans-serif;">Sign Up</button>
        </form>
      </div>
      <img style="width: 154px; position: absolute; right: 120px; bottom: 20px;" src="assets/images/unionLogo.png" alt="">
    </div>
  </div>
  