<div class="wrapper mx-4">
    <p class="title">Admin</p>
    <div class="card">
      <div class="search-wrapper m-5">
        <span class="bx bx-search"></span>
        <input type="search" placeholder="Search" />
      </div>
      <div class="admin-list">
        <div *ngFor="let item of staticDataAray">
          <div class="admin-item d-flex">
            <img style="height: 48px; width: 48px;" src="assets/Egora-Icon/{{item.imgName}}.jpg" />
            <div>
                <h3>{{item.listFullName}}</h3>
                <p class="description">{{item.description}}</p>
            </div>
          </div>
          <!-- <div *ngIf="index % 3 === 2"></div> -->
        </div>
      </div>
    </div>
  </div>
  