.wrapper {
    z-index: 0;
}

select{
    width: 110px;
}
.card{
 width: 650px;
 height:500px;
 box-shadow: 4px 6px 21px -3px rgba(0,0,0,0.63);
-webkit-box-shadow: 4px 6px 21px -3px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 6px 21px -3px rgba(0,0,0,0.63);


}
.box{
    margin-top: -60px;
    margin-left: 70px;
}
.box1 {
    margin-top: 50px;
    width: 485px;
    height: 247px;
    top: 318px;
    left: 295px;

}
.color-wrapper{
    margin-top: -40px;
}
.color-box{
    display: flex;
    
}

  

  


  

  
