<div class="wrapper m-4">

    <div class="d-flex align-items-center">
      <div class= "d-flex align-items-center justify-content-center dashboard-btn">Dashboard</div>
      <div class= "d-flex align-items-center justify-content-center tasks-btn">Tasks</div>
    </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body fixed-height-card">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">Product(Profit/Loss)</h5>
                  <div class="select-wrapper d-flex">
                    <div class="col-md-4 mx-1">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>FVTPL</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4 mx-1">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>USD</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>Monthly</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <canvas id="barchart" class="box1"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body fixed-height-card">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">Transaction(Volume)</h5>
                  <div class="select-wrapper d-flex">
                    <div class="col-md-4 mx-3">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        style="width: 150px"
                      >
                        <option selected>Fixed income</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4 mx-1">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>USD</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4 mx-0">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>Monthly</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <p>Total:$12,594,000</p> -->
              <canvas id="dochart" class="box"></canvas>
              <div class="color-wrapper">
                <div class="d-flex justify-content-around">
                  <div class="color-box">
                    <div
                      style="
                        height: 16px;
                        width: 17px;
                        background: #5e227f;
                        border-radius: 3px;
                      "
                    ></div>
                    <div style="margin-left: 5px; margin-top: -2px">
                      Treasury Note
                    </div>
                  </div>
                  <div class="color-box">
                    <div
                      style="
                        height: 16px;
                        width: 17px;
                        background: #fca542;
                        border-radius: 3px;
                      "
                    ></div>
                    <div style="margin-left: 5px; margin-top: -2px">
                      FGN Bond
                    </div>
                  </div>
                  <div class="color-box">
                    <div
                      style="
                        height: 16px;
                        width: 17px;
                        background: #1c6dca;
                        border-radius: 3px;
                      "
                    ></div>
                    <div style="margin-left: 5px; margin-top: -2px">
                      Euro Bond
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-around mt-3">
                  <div class="d-flex" style="margin-left: 15px">
                    <div
                      style="
                        height: 16px;
                        width: 17px;
                        background: #56ccf2;
                        border-radius: 3px;
                      "
                    ></div>
                    <div style="margin-left: 5px; margin-top: -2px">
                      Corporate Bond
                    </div>
                  </div>
                  <div class="d-flex" style="margin-left: 45px">
                    <div
                      style="
                        height: 16px;
                        width: 17px;
                        background: #2d0c52;
                        border-radius: 3px;
                      "
                    ></div>
                    <div style="margin-left: 5px; margin-top: -2px">
                      Promissory Notes
                    </div>
                  </div>
                  <div class="d-flex">
                    <div
                      style="
                        height: 16px;
                        width: 17px;
                        background: #944ee4;
                        border-radius: 3px;
                      "
                    ></div>
                    <div style="margin-left: 5px; margin-top: -2px">
                      Lorem Ipsum
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="card">
            <div class="card-body fixed-height-card">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">Production(Maturity)</h5>
                  <div class="select-wrapper d-flex">
                    <div class="col-md-4 mx-3">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        style="width: 150px"
                      >
                        <option selected>Fixed income</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4 mx-1">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>USD</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4 mx-0">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>Monthly</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <p>Total:$12,594,000</p> -->
              <canvas id="dochart1" class="pie2"></canvas>
              <div class="color-wrapper">
                <div class="color-line">
                  <div class="color-box">
                    <div class="color-box-color" style="background: #5e227f;"></div>
                    <div class="color-box-text">10 years bond</div>
                  </div>
                  <div class="color-box">
                    <div class="color-box-color" style="background: #fca542;"></div>
                    <div class="color-box-text">180-Days Treasury Note</div>
                  </div>
                  <div class="color-box">
                    <div class="color-box-color" style="background: #1c6dca;"></div>
                    <div class="color-box-text">30 years bond</div>
                  </div>
                </div>
                <div class="color-line mt-4">
                  <div class="color-box">
                    <div class="color-box-color" style="background: #56ccf2;"></div>
                    <div class="color-box-text">2 years bond</div>
                  </div>
                  <div class="color-box">
                    <div class="color-box-color" style="background: #2d0c52;"></div>
                    <div class="color-box-text">90-Days Treasury Note</div>
                  </div>
                  <div class="color-box">
                    <div class="color-box-color" style="background: #944ee4;"></div>
                    <div class="color-box-text">5 years bond</div>
                  </div>
                </div>
                <div class="color-line  mt-4">
                  <div class="color-box1">
                    <div class="color-box-color" style="background: #89ce94;"></div>
                    <div class="color-box-text">364-Days Treasury Note</div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="card">
            <div class="card-body fixed-height-card">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">Securities(Portfolio Analysis)</h5>
                  <div class="select-wrapper d-flex">
                    <div class="col-md-4 mx-5">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>USD</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>Monthly</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <canvas id="barchart1" class="box1"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="card">
            <div class="card-body fixed-height-card">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">Cost of Fund(Business unit)</h5>
                </div>
              </div>
              <!-- <p>Total:$12,594,000</p> -->

              <canvas id="lineChart" class="box1"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="card">
            <div class="card-body fixed-height-card">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">Revenue(Business Unit)</h5>
                  <div class="select-wrapper d-flex">
                    <div class="col-md-4 mx-5">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>USD</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <canvas id="barchart2" class="box1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
