/* * {
    box-sizing: border-box;
  } */
.wrapper {
    z-index: 0;
    /* position: absolute; */
   
}
#barchart{
    display: block;
    width: 400px;
    height: 400px;
}
select{
    width: 110px;
   
    
}
.card{
 width: 650px;
 height:500px;
 box-shadow: 4px 6px 21px -3px rgba(0,0,0,0.63);
-webkit-box-shadow: 4px 6px 21px -3px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 6px 21px -3px rgba(0,0,0,0.63);


}
.box{
    /* height: 16px;
    width: 16px;
    border-radius: 5px; */
    margin-top: -50px;
    margin-left: 70px;
}
/* .box-label .chartjs-render-monitor .chartjs-doughnut-legend li {
    font-size: 14px; 
    background-color: #f2f2f2; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
  } */
  

  


  

  
